/* Box Shadow */
.box_shadow1{
    height: 150px;
    width: 150px;
    background-color: lightblue;
    box-shadow: 3px 5px 15px 5px #afafaf;
    margin-bottom: 50px;
}
.box_shadow2{
    height: 150px;
    width: 150px;
    background-color: lightcoral;
    box-shadow: 5px 5px 15px 5px #000000 inset;
}

/* Text Transform  */
.capitalize{
    text-transform: capitalize;
}
.upper{
    text-transform: uppercase;
}
.lower{
    text-transform: lowercase;
}

/* Text Align  */
.start{
    text-align: start;
}
.center{
    text-align: center;
}
.end{
    text-align: end;
}

/* Text Decoration Line  */
.underline{
    text-decoration-line: underline;
}
.overline{
    text-decoration-line: overline;
}
.linethrough{
    text-decoration-line: line-through;
}
.none{
    text-decoration-line: none;
}

/* Text Decoration Color */
.linethrough{
    text-decoration-color: red;
}

/* Text Shadow */
.text_shadow{
    text-shadow: 3px 3px 3px red;
}