*{
    padding: 0;
    margin: 0;
    font-family: 'Popins',sans-serif;
}

@media only screen and (max-width: 768px)
{
    .header nav{
        display: none;
    }  
}

@media only screen and (max-width:980px)
{
    .header .icon .social{
        display: none;
    }  
    .header .icon .list{
        display: block !important;
    }  
}

a{
    text-decoration: none;
}
.head_sec{
    background-color: antiquewhite;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding: 5px 0px;
}
.header .logo img{
    max-width: 150px;
}
.header nav{
    align-self: center;
}
.header nav a{
    padding: 0px 15px;
}
.header .icon{
    align-self: center;
}
.header .icon i{
    padding: 0px 10px;
    font-size: 20px;
}
.header .icon .list{
    display: none;
}